
**/node_modules

**/.env
**/.env.*.local
**/.DS_Store
**/.vscode
**/.turbo
**/.next
**/.cache
**/coverage
**/logs
**/*.log
*.local


.git
.gitignore
.dockerignore

package-lock.json
pnpm-lock.yaml
yarn.lock
